title{
    width: 20%;
}

div {
    border: solid 2px black;
    margin: 10px;
    text-align: center;
    width: 30%;
    height: 50%;
    padding: 10px;
}

body {
    display: flex;
    align-content: space-around;
    text-align: center;
    background-color: aquamarine;
}

#mondayImage {
    width: 50%;
    height: 40%;
}

#tuesdayImage {
    width: 50%;
    height: 40%;
}

#wednesdayImage {
    width: 50%;
    height: 40%;
}

#thursdayImage {
    width: 50%;
    height: 40%;
}

#fridayImage {
    width: 50%;
    height: 40%;
}